{% extends 'base.html' %}
{% block container %}
</head>

<body>
  <main class="container">
    <div class="row pt-5">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
          <div class="text-center mt-5 b-1">
            {% include 'emodzicar.html' ignore missing %}
            <h1 class="h3 mb-3 font-weight-normal">Stepik delivery</h1>
            <p class="h5 font-weight-light">Такая страница не найдена</p>
              <div class="text-center px-5"><a href="/">Вернуться на главную страницу</a></div>
          </div>
      </div>

      </div>
    </div>
</main>
{% endblock %}