{% extends 'base.html' %}
{% block container %}
</head>

<body>
  <main class="container">

    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <form class="form-signin pt-5" action="/change-password/" method="POST">
          {{ form.csrf_token }}
          <div class="text-center mt-5 b-1">
            {% include 'emodzicar.html' ignore missing %}
            <h1 class="h3 mb-3 font-weight-normal">{{ self.title() }}</h1>
            <p class="h5 font-weight-light">Смена пароля</p>
          </div>

          <div class="mt-5 form-label-group">
              {% for field in form.errors %}
                {% for error in form.errors[field] %}
                    <div style="color:red;">
    	                {{error}}
                    </div>
                    {% endfor %}
              {% endfor %}
            {% if err %}
              <div class="alert alert-warning" role="alert">{{ err }}</div>
            {% endif %}
            {{ form.hidden_tag() }}

            {{ form.password.label(class="text-muted") }}
            {{ form.password(class="form-control") }}
            </div>
          <div class="form-label-group">
            {{ form.confirm_password.label(class="text-muted") }}
            {{ form.confirm_password(class="form-control") }}

          </div>
          <div class="checkbox mb-3"></div>

            <button class="btn btn-lg btn-danger btn-block" type="submit">Сохранить</button>
          </form>
        <br>
        <div class="text-center px-5"><a href="/account/">Вернуться в личный кабинет</a></div>
      </div>

    </div>
</main>
{% endblock %}