{% extends 'base.html' %}
{% block container %}
</head>

<body>
  <main class="container">

    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <form class="form-signin pt-5" action="/login/" method="POST">
          {{ form.csrf_token }}
          <div class="text-center mt-5 b-1">
            {% include 'emodzicar.html' ignore missing %}
            <h1 class="h3 mb-3 font-weight-normal">{{ self.title() }}</h1>
            <p class="h5 font-weight-light">Войдите, чтобы управлять</p>
          </div>

          <div class="mt-5 form-label-group">
            {% if err %}
              <div class="alert alert-warning" role="alert">{{ err }}</div>
            {% endif %}
            {{ form.username.label(class="text-muted") }}
            {{ form.username(class="form-control") }}
          </div>
          <div class="form-label-group">

            {{ form.password.label(class="text-muted") }}
            {{ form.password(class="form-control") }}
          </div>
          <div class="checkbox mb-3"></div>
          <button class="btn btn-lg btn-danger btn-block" type="submit">Войти</button>
          </form>
        <br>
        <div class="text-center px-5"><a href="/">Вернуться на главную</a></div><br>
        <div class="text-center px-5"><a href="/register/">Зарегистрироваться</a></div>
      </div>

    </div>
</main>
{% endblock %}