/Project5/*.pyc
/Project5/.idea/
/Project5/env/
/Project-4/
/Project-4-1/
/Project-4-3/
/Project-4-4/
/Project-5-1/
/Project-5-glava/
/Project-flask-glava4/
/Project-PostgreSQL-4.17/
/Project-PostgreSQL-4.17-2/
__pycache__/